body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
  color: gray;
}

p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  font-size: 18px;
  padding: 8px 0;
  display: list-item;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: rgb(200, 0, 0);
}

.header {
  font-size: 32px;
  box-shadow: 1px 1px 4px 2px lightgray;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
}

.wrap {
  margin: 20px 10px 20px 10px;
  display: flex;
  height: 100%;
}

.subtitle {
  text-align: left;
  font-size: 20px;
  border-bottom: solid 1px lightgray;
  margin: 10px 20px;
  padding: 5px 10px;
  border-radius: 10px/10px;
  display: inline;
}

.title {
  text-align: center;
  font-size: 25px;
  box-shadow: 0 1px 3px 1px lightgray;
  margin: 0 20px 0 20px;
  border-radius: 10px/10px;
}

.content {
  margin: 30px;
  padding: 0;
  line-height: 36px;
}

.side {
  width: 15%;
  margin: 0;
  padding: 10px 0 0 0;
  box-shadow: 0 1px 4px 2px lightgray;
  border-radius: 3px/3px;
}

.main {
  width: 85%;
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
  box-shadow: 0 1px 4px 2px lightgray;
  border-radius: 3px/3px;
  font-size: 20px;
}

.footer {
  margin: 0;
  padding: 20px 0 5px 0;
  width: 100%;
  font-size: 16px;
  background: gray;
  color: whitesmoke;
  text-align: center;
}

.center {
  text-align: center;
}

.back {
  opacity: 0.3;
  width: 800px;
  height: 800px;
  object-fit: scale-down;
  align-items: center;
  filter: drop-shadow(1px 4px 3px lightgray);
  background: white;
  border-radius: 50px/50px;
}

.image {
  opacity: 0.8;
  width: 800px;
  height: 800px;
  object-fit: contain;
  align-items: center;
  filter: drop-shadow(1px 4px 3px lightgray);
  border-radius: 50px/50px;
  background: rgb(100, 100, 100);
}
